.App {
  font-family: sans-serif;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}

.weather-border {
  background: #fffcea;
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 5px;
}

.city {
  color: rgb(47, 89, 144);
}
