.temperature {
  font-size: 64px;
  font-weight: 40;
  line-height: 1;
}
.weather-temperature img {
  vertical-align: top;
  height: 64px;
  width: 64px;
}

.units {
  position: relative;
  top: -34px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#fahrenheit-link:hover {
  text-decoration: underline;
}

#celsius-link:hover {
  text-decoration: underline;
}

.row {
  margin: 0;
  padding: 0;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}
